<div class="row" >
    <div class="topDrop_register" style="height: 120px">
       
                <a href="#!/home"  class="btn btn-info btn-lg" style="margin-top: 50px;margin-left: 70px">
                 
                <span class="glyphicon glyphicon-home"></span> Home</a>
         
    </div>
    
    <div class="row content" style="margin-top: 40px;margin-left: 40px">
    <div class="col-sm-3" >
        <div class="well" style="height: 620px;width: 180px;color:#245580 ">
            <a href="#!/customersList"> View Customers</a>
            <a href="#!/addProduct"> Add Products</a>
            <a href="#!/adminProducts"> View Products</a>
            <a href="#!/adminProducts"> View Orders</a>
        </div>
    </div>
</div>
        
</div>

    


 