<div class="row" >
    <div class="topDrop_register" style="height: 120px">
<a href="#!/admin"  class="btn btn-info btn-lg" style="margin-top: 50px;margin-left: 70px">
                 
                           <span class="glyphicon glyphicon-home"></span> Home Admin</a>
                           
    </div>
</div>

<div class="container">
  <h2>CUSTOMERS LIST</h2>
                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
          <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cust in customers">
         <td>{{ cust.id }}</td>
        <td>{{ cust.firstname }}</td>
        <td>{{ cust.lastname }}</td>
        <td>{{ cust.email }}</td>
        <td>{{ cust.username }}</td>
        <td>{{ cust.password }}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
