<div class="container" style="margin-left:190px;margin-top: 20px">
    <div class="row">
        <div class="col-lg-3">
            <a href="#!/home">
                <img src="slideImages/header3.png" alt=""/>
            </a>
        </div>
        
    </div>
    
</div>
       
        <div class="container" style="margin-left: -200px; margin-top: -100px">
            
            Hi!  Please <a href="#!/login" style="color:maroon;" data-toggle="tooltip" title="Log in">log in</a> or 
            <a href="#!/register" style="color: maroon; " >register</a> or <a href="#!/products" style="color: maroon; " >Login as Guest</a>
            
        </div> 

            

<div class="container" style="margin-left:400px;">
    <div class="row">
        <div class="col">
            <div id="first-slider">
               
                    <div class="carousel-inner">
                        <div class="item active">						
                            <img src="slideImages/logo4.jpg" style="width: 500px"/>
                        </div>
                       
                    </div>
                
            </div>
        </div>
    </div>
</div>



