<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Pick'n Pay</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"/>
        <script type="text/javascript" src ="/controllers.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        
        <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link href="layoutStyles.css" rel="stylesheet" type="text/css"/>
        <link href="/Home.css" rel="stylesheet" type="text/css"/>
        <link href="/productsView.css" rel="stylesheet" type="text/css"/>
        <link href="/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/custom.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="myapp">
        <div ng-view=""></div>
    </body>
</html>
    